<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
        <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css" />
</h:head>
<h:body>

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h:link styleClass="navbar-brand" outcome="/index" value="Distributed Systems and Security: Cwk 1" />
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <ui:fragment rendered="#{not empty sessionScope.get('member')}">
                        <li><h:link outcome="/chat/create" value="Create Message" /></li>
                        <li><h:link outcome="/chat/index" value="Messages" /></li>
                        <li><h:link outcome="/chat/friends" value="Friends" /></li>
                    </ui:fragment>
                </ul>
                <ui:fragment rendered="#{empty sessionScope.get('member')}">
                    <ul class="nav navbar-nav navbar-right">
                        <li><h:link outcome="/auth/register" value="Register" /></li>
                        <li><h:link outcome="/auth/login" value="Login" /></li>
                    </ul>
                </ui:fragment>
                <ui:fragment rendered="#{not empty sessionScope.get('member')}">
                        <h:form styleClass="navbar-form navbar-right">
                            <h:commandButton action="#{authController.doLogout}" value="Logout" styleClass="btn btn-default" />
                        </h:form>
                        <p class="navbar-text navbar-right">
                            <h:link outcome="/chat/visibility" value="Visibility" />:
                            <h:outputText value="#{sessionScope.get('member').readableVisibility}" />
                        </p>
                        <p class="navbar-text navbar-right"><h:outputText value="Signed in as #{sessionScope.get('member').username}" /></p>
                </ui:fragment>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="container">
        <ui:insert name="content" />
    </div>

<!-- Footer -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</h:body>
</html>
