<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/base.xhtml">
<ui:define name="content">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Register</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h:form id="registerForm">
                <div class="form-group">
                    <h:outputLabel for="usernameField">Username</h:outputLabel>
                    <h:inputText id="usernameField" name="username" styleClass="form-control"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="passwordField">Password</h:outputLabel>
                    <h:inputSecret id="passwordField" name="password" styleClass="form-control"/>
                </div>
                <h:commandButton id="send" value="Send" action="#{authController.doRegister}" styleClass="btn btn-default"/>
                <h:messages />
            </h:form>
        </div>
    </div>
</ui:define>
</ui:composition>
