<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/templates/base.xhtml">
<ui:define name="content">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Create Message</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h:form id="chatForm">
                <div class="form-group">
                    <h:outputLabel for="fromField">From</h:outputLabel>
                    <h:inputText id="fromField" styleClass="form-control" value="#{chatController.currentMember.username}" disabled="true"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="toField">To</h:outputLabel>
                    <h:selectOneRadio id="toField" value="#{chatController.recipient}" converter="#{memberConverter}" styleClass="table" required="true">
                        <f:selectItems value="#{chatController.members}" var="member" itemLabel="#{member.username}" itemValue="#{member}"/>
                    </h:selectOneRadio>
                </div>
                <div class="form-group">
                    <h:outputLabel for="messageField">Message</h:outputLabel>
                    <h:inputTextarea id="messageField" name="message" styleClass="form-control" required="true"/>
                </div>
                <h:commandButton id="send" value="Send" action="#{chatController.doSend}" styleClass="btn btn-default"/>
                <h:messages />
            </h:form>
        </div>
    </div>

</ui:define>
</ui:composition>
