<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/base.xhtml">
    <ui:define name="content">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Members</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ui:repeat value="#{chatController.members}" var="member">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-10">
                                <p><h:outputText value="#{member.username}" /></p>
                            </div>
                            <div class="col-sm-2">
                                <h:form>
                                    <ui:fragment rendered="#{chatController.currentMember.friends.contains(member)}">
                                        <h:commandButton action="#{chatController.doRemoveFriend(member)}" value="remove"/>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{not chatController.currentMember.friends.contains(member)}">
                                        <h:commandButton action="#{chatController.doAddFriend(member)}" value="add"/>
                                    </ui:fragment>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </div>
        </div>
    </ui:define>
</ui:composition>
