<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/base.xhtml">
<ui:define name="content">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Messages</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 text-center">
                <h2>Received Messages</h2>
            </div>
            <div class="col-md-12">
                <ui:repeat value="#{chatController.receivedMessages}" var="receivedMessage">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p><h:outputText value="#{receivedMessage.message}" /></p>
                            </div>
                            <div class="col-md-12 text-right">
                                <p><small>from <h:outputText value="#{receivedMessage.sender.username} @ #{receivedMessage.readableTimestamp}" /></small></p>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 text-center">
                <h2>Sent Messages</h2>
            </div>
            <div class="col-md-12">
                <ui:repeat value="#{chatController.sentMessages}" var="sentMessage">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p><h:outputText value="#{sentMessage.message}" /></p>
                            </div>
                            <div class="col-md-12 text-right">
                                <p><small>to <h:outputText value="#{sentMessage.recipient.username} @ #{sentMessage.readableTimestamp}" /></small></p>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </div>
        </div>

    </div>
</ui:define>
</ui:composition>
