<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/templates/base.xhtml">
    <ui:define name="content">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Set Visibility</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h:form id="visibilityForm">
                    <div class="form-group">
                        <h:outputLabel for="visibilityField">Visibility</h:outputLabel>
                        <h:selectOneRadio id="visibilityField" value="#{chatController.currentMember.visibility}" styleClass="table">
                            <f:selectItems value="#{chatController.visibilities}" var="visibility" itemLabel="#{visibility}" itemValue="#{visibility}"/>
                        </h:selectOneRadio>
                    </div>
                    <h:commandButton id="send" value="Save" action="#{chatController.doChangeVisibility}" styleClass="btn btn-default"/>
                    <h:messages />
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>
