<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/base.xhtml">
    <ui:define name="content">
        <div class="col-md-12 text-center">
            <p class="lead"></p>
        </div>
    </ui:define>
</ui:composition>
